;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"]

 :dependencies
 [[re-graph "0.1.14" :exclusions [re-graph.hato]]
  [reagent "1.0.0-alpha2"]
  [re-frame "0.12.0"]]
 :dev-http {3002 "public"}
 :builds
 {:app
  {:target :browser
   :modules {:main {:init-fn juxtaminute.app/init}}
   :dev {:compiler-options {:output-feature-set :es6}}}}}
